<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>房屋能耗分析</title>

    <link rel="stylesheet" href="{{ url_for('static',filename = '/css/index.css') }}">

</head>
<body>
<div class="Logo">
    <img src="../static/image/房屋.png" alt="">
</div>
<div class="title">
    <h2>房屋能耗分析</h2>
    <h4>基于pandas和pyecharts</h4>
</div>
<div class="let_go">
    <a href="{{ url_for('manage') }}"></a>
</div>
</body>
</html>
