<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-gl.min.js"></script>

</head>
<body>
    <div id="0b227412c99747b0913138fedcbb6791" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_0b227412c99747b0913138fedcbb6791 = echarts.init(
            document.getElementById('0b227412c99747b0913138fedcbb6791'), 'white', {renderer: 'canvas'});
        var option_0b227412c99747b0913138fedcbb6791 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar3D",
            "data": [
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2006,
                    1451624400.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2007,
                    1451624401.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2008,
                    1451624402.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2009,
                    1451624403.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2010,
                    1451624404.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2011,
                    1451624405.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2012,
                    1451624406.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2013,
                    1451624407.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2014,
                    1451624408.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2015,
                    1451624409.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2016,
                    1451624410.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2017,
                    1451624411.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2018,
                    1451624412.0
                ],
                [
                    "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
                    2019,
                    1451624413.0
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2006,
                    0.9328333329999999
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2007,
                    0.934333333
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2008,
                    0.931816667
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2009,
                    1.02205
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2010,
                    1.1394
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2011,
                    1.391866667
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2012,
                    1.3662166669999998
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2013,
                    1.4319
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2014,
                    1.6273
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2015,
                    1.7353833330000001
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2016,
                    1.585083333
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2017,
                    1.510316667
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2018,
                    1.4598666669999998
                ],
                [
                    "\u53d1\u7535 [kW]",
                    2019,
                    0.840583333
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2006,
                    0.003483333
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2007,
                    0.003466667
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2008,
                    0.003466667
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2009,
                    0.003483333
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2010,
                    0.003466667
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2011,
                    0.003433333
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2012,
                    0.00345
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2013,
                    0.003416667
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2014,
                    0.003416667
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2015,
                    0.003416667
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2016,
                    0.003416667
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2017,
                    0.003433333
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2018,
                    0.00345
                ],
                [
                    "\u6d17\u7897\u673a [kW]",
                    2019,
                    0.003433333
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2006,
                    0.9328333329999999
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2007,
                    0.934333333
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2008,
                    0.931816667
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2009,
                    1.02205
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2010,
                    1.1394
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2011,
                    1.391866667
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2012,
                    1.3662166669999998
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2013,
                    1.4319
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2014,
                    1.6273
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2015,
                    1.7353833330000001
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2016,
                    1.585083333
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2017,
                    1.510316667
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2018,
                    1.4598666669999998
                ],
                [
                    "\u7089\u5b50 1 [kW]",
                    2019,
                    0.840583333
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2006,
                    3.3299999999999996e-05
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2007,
                    0.0
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2008,
                    1.67e-05
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2009,
                    1.67e-05
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2010,
                    0.000133333
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2011,
                    0.000283333
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2012,
                    0.000283333
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2013,
                    0.00025
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2014,
                    0.000183333
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2015,
                    1.67e-05
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2016,
                    5e-05
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2017,
                    3.3299999999999996e-05
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2018,
                    5e-05
                ],
                [
                    "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
                    2019,
                    0.0
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2006,
                    0.0207
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2007,
                    0.020716667
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2008,
                    0.0207
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2009,
                    0.1069
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2010,
                    0.236933333
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2011,
                    0.50325
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2012,
                    0.4994
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2013,
                    0.477866667
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2014,
                    0.44765
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2015,
                    0.17155
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2016,
                    0.0221
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2017,
                    0.021966667000000002
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2018,
                    0.021883332999999998
                ],
                [
                    "\u51b0\u7bb1 [kW]",
                    2019,
                    0.02095
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2006,
                    0.061916667
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2007,
                    0.06381666700000001
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2008,
                    0.062316667
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2009,
                    0.068516667
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2010,
                    0.063983333
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2011,
                    0.063666667
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2012,
                    0.063716667
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2013,
                    0.178633333
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2014,
                    0.3657
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2015,
                    0.6825
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2016,
                    0.6787333329999999
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2017,
                    0.6206666670000001
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2018,
                    0.577466667
                ],
                [
                    "\u9152\u7a96 [kW]",
                    2019,
                    0.1448
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2006,
                    0.44263333299999996
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2007,
                    0.444066667
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2008,
                    0.44606666700000003
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2009,
                    0.44658333299999997
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2010,
                    0.446533333
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2011,
                    0.447033333
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2012,
                    0.443266667
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2013,
                    0.44428333299999995
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2014,
                    0.44146666700000003
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2015,
                    0.43873333299999995
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2016,
                    0.4402
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2017,
                    0.43695
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2018,
                    0.43995
                ],
                [
                    "\u8f66\u5e93\u95e8 [kW]",
                    2019,
                    0.44478333299999995
                ]
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 1,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    },
    "xAxis3D": {
        "data": [
            "\u4f7f\u7528\u603b\u80fd\u8017 [kW]",
            "\u53d1\u7535 [kW]",
            "\u6d17\u7897\u673a [kW]",
            "\u7089\u5b50 1 [kW]",
            "\u623f\u5c4b\u6574\u4f53\u80fd\u8017 [kW]",
            "\u51b0\u7bb1 [kW]",
            "\u9152\u7a96 [kW]",
            "\u8f66\u5e93\u95e8 [kW]"
        ],
        "nameGap": 20,
        "type": "category",
        "max": 8,
        "axisLabel": {
            "margin": 8
        }
    },
    "yAxis3D": {
        "data": [
            2006,
            2007,
            2008,
            2009,
            2010,
            2011,
            2012,
            2013,
            2014,
            2015,
            2016,
            2017,
            2018,
            2019
        ],
        "nameGap": 20,
        "type": "time",
        "max": 2020,
        "axisLabel": {
            "margin": 8
        }
    },
    "zAxis3D": {
        "nameGap": 20,
        "type": "value",
        "max": 1,
        "axisLabel": {
            "margin": 8
        }
    },
    "grid3D": {
        "boxWidth": "280",
        "boxHeight": "100",
        "boxDepth": 80,
        "viewControl": {
            "autoRotate": false,
            "autoRotateSpeed": 10,
            "rotateSensitivity": 1
        }
    },
    "title": [
        {
            "text": "\u90e8\u5206\u80fd\u8017\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_0b227412c99747b0913138fedcbb6791.setOption(option_0b227412c99747b0913138fedcbb6791);
    </script>
</body>
</html>
