<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="f78cec68b310418dbc036486e3da6252" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_f78cec68b310418dbc036486e3da6252 = echarts.init(
            document.getElementById('f78cec68b310418dbc036486e3da6252'), 'white', {renderer: 'canvas'});
        var option_f78cec68b310418dbc036486e3da6252 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "radar",
            "name": "\u80fd\u8017",
            "data": [
                [
                    0.0207,
                    0.061916667,
                    0.006983333,
                    0.12415,
                    0.44263333299999996,
                    0.013083333
                ]
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "color": "green"
                }
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0.5,
                "color": "green"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u80fd\u8017"
            ],
            "selected": {
                "\u80fd\u8017": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "radar": {
        "indicator": [
            {
                "name": "\u7089\u5b50 1",
                "max": 0.45
            },
            {
                "name": "\u7089\u5b50 2",
                "max": 0.45
            },
            {
                "name": "\u9152\u7a96",
                "max": 0.45
            },
            {
                "name": "\u51b0\u7bb1",
                "max": 0.45
            },
            {
                "name": "\u5bb6\u5ead\u529e\u516c\u5ba4",
                "max": 0.45
            },
            {
                "name": "\u8f66\u5e93\u95e8",
                "max": 0.45
            }
        ],
        "name": {
            "textStyle": {}
        },
        "splitLine": {
            "show": true,
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            }
        },
        "splitArea": {
            "show": true,
            "areaStyle": {
                "opacity": 0
            }
        },
        "axisLine": {
            "show": true,
            "onZero": true,
            "onZeroAxisIndex": 0
        }
    },
    "title": [
        {
            "text": "\u5bb6\u7535\u80fd\u8017\u5bf9\u6bd4",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_f78cec68b310418dbc036486e3da6252.setOption(option_f78cec68b310418dbc036486e3da6252);
    </script>
</body>
</html>
