* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.daohang {
    width: 100%;
    height: 50px;
    background-color: black;
    border-bottom: 1px solid #ccc;
}

.daohang ul {
    position: absolute;
    top: 0;
    left: 55px;
    padding-left: 10px;
}

.daohang li {
    float: left;
    padding-left: 30px;
}

.daohang ul li a {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
}

.box {
    width: 100%;
    display: flex;
}

.box1 {
    width: 100%;
    display: flex;
    height: 500px;
}

.box1 a img {
    width: 50%;
}

.box2 {
    width: 100%;
    display: flex;
    height: 500px;
}

.box2 a img {
    width: 30%;
}

.box11 {
    width: 50%;
    margin: 5px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .3);
}

.box12 {
    width: 50%;
    margin: 5px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .3);
}

.box21 {
    width: 33.33%;
    margin: 5px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .3);
}

.box22 {
    width: 33.33%;
    margin: 5px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .3);
}

.box23 {
    width: 33.33%;
    margin: 5px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .3);
}